.buttons__button {
    background-color: white;
    border: none;
    color: rgb(9, 114, 133);
    transition: color 0.3s;
    cursor: pointer;
}

.button--markAllDoneButton:hover {
    color: rgb(18, 201, 233);
}
.button--markAllDoneButton:active {
    border: 2px solid rgb(0, 0, 0);
}

.button--markAllDoneButton:disabled {
    color: gray;
}

.button--toggleHideDoneButton:hover {
    color: rgb(18, 201, 233);
}
.button--toggleHideDoneButton:active {
    border: 2px solid rgb(0, 0, 0);
}
@media(max-width: 767px) {
    
    .buttons__button {
       align-content: center;
       width: 100%;
       margin: 10px;
    }
    
}