.buttons {
    background-color: white;
    border: none;
    color: teal;
    transition: color 0.3s;
    cursor: pointer;
}

.button--markAllDoneButton:hover {
    color: hsl(180, 100%, 40%);
}

.button--markAllDoneButton:active {
    color: hsl(180, 100%, 10%);
}

.button--markAllDoneButton:disabled {
    color: gray;
}

.button--toggleHideDoneButton:hover {
    color: hsl(180, 100%, 40%);
}

.button--toggleHideDoneButton:active {
    color: hsl(180, 100%, 10%);
}

@media(max-width: 767px) {
    .buttons__button {
       align-content: center;
       width: 100%;
       margin: 10px;
    }
}