html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #eee;
}

.container {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}
